.Screen-logo {
    height: 40vmin;
    width: 80vmin;
    pointer-events: none;
    background-color: #9F9F9F;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid #000;    
}